<div class="container">
    <div class="page-header">
        <h1>Statistics</h1>
    </div>

    <div class="panel panel-default">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <h3>Total Count</h3>
                <span ng-bind="$ctrl.totalCount()"></span>
            </div>
            <div class="col-sm-3 col-md-3">
                <h3>Total Price</h3>
                <span ng-bind="$ctrl.totalPrice()"></span>
            </div>
            <div class="col-sm-3 col-md-3">
                <h3>AVG</h3>
                <span ng-bind="$ctrl.avg()"></span>
            </div>
            <div class="col-sm-3 col-md-3">
                <h3>Card amount</h3>
                <span ng-bind="$ctrl.totalAmount()"></span>
            </div>
        </div>
    </div>
</div>
